<div data-controller="dropdown">
  <button data-action="click->dropdown#openDropdown">
    open
  </button>
  <button data-action="click->dropdown#closeDropdown">
    close
  </button>
  <button data-action="click->dropdown#toggleDropdown">
    close
  </button>
  <div data-dropdown-target="dropdownContent">
    <p>Find me in app/views/static_pages/index.html.erb</p>
  </div>
</div>

<div class="text-gray-300">
  <p>Page where we write About us</p>
</div>