<section class="dark:bg-gray-800 dark:text-gray-100 my-20">
  <div class="container flex flex-col justify-center px-4 mx-auto">
    <h1 class="text-3xl font-semibold sm:text-4xl text-center mb-20">Join the team</h1>
    <div class="space-y-4">
      <div class="flex justify-center">
        <details class="w-1/2 border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Lorem at arcu rutrum viverra metus sapien venenatis lobortis odio?</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">Tincidunt ut hac condimentum rhoncus phasellus nostra. Magna porttitor egestas tincidunt neque vehicula potenti. </p>
        </details>
      </div>
      <div class="flex justify-center">
        <details class="w-1/2 border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Lorem at arcu rutrum viverra metus sapien venenatis lobortis odio?</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">Tincidunt ut hac condimentum rhoncus phasellus nostra. Magna porttitor egestas tincidunt neque vehicula potenti. </p>
        </details>
      </div>
      <div class="flex justify-center">
        <details class="w-1/2 border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Lorem at arcu rutrum viverra metus sapien venenatis lobortis odio?</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">Tincidunt ut hac condimentum rhoncus phasellus nostra. Magna porttitor egestas tincidunt neque vehicula potenti. </p>
        </details>
      </div>
    </div>
  </div>
</section>