<% if current_user.role == "Project Manager" %>
  <section class="dark:bg-gray-800 dark:text-gray-100">
    <div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
      <h2 class="text-2xl font-semibold sm:text-4xl">Skills that are needed for <%= current_user.role %></h2>
      <p class="mt-4 mb-8 dark:text-gray-400">Here are the skills needed to reach a certain level</p>
      <div class="space-y-4">
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior beginner</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior advanced</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior Upper</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Middle beginner</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">...</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
      </div>
    </div>
  </section>
<% elsif current_user.role == "Web Designer" %>
  <section class="dark:bg-gray-800 dark:text-gray-100">
    <div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
      <h2 class="text-2xl font-semibold sm:text-4xl">Skills that are needed for <%= current_user.role %></h2>
      <p class="mt-4 mb-8 dark:text-gray-400">Here are the skills needed to reach a certain level</p>
      <div class="space-y-4">
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior beginner</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior advanced</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior Upper</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Middle beginner</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">...</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
      </div>
    </div>
  </section>
<% elsif current_user.role == "Back-end Developer" %>
  <section class="dark:bg-gray-800 dark:text-gray-100">
    <div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
      <h2 class="text-2xl font-semibold sm:text-4xl">Skills that are needed for <%= current_user.role %></h2>
      <p class="mt-4 mb-8 dark:text-gray-400">Here are the skills needed to reach a certain level</p>
      <div class="space-y-4">
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior beginner</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">English - Pre-intermediate</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">Basic knowledge of the Ruby language (syntax, methods, basic data types, debugging, rubygems)</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior advanced</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">English - Intermediate</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">Basic knowledge of the Ruby language (syntax, methods, basic data types, debugging, rubygems)</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">Work experience - 6 month</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior Upper</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">English - Intermediate</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">Basic knowledge of the Ruby language (syntax, methods, basic data types, debugging, rubygems)</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">Work experience - 1 year</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Middle beginner</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">...</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
      </div>
    </div>
  </section>
<% elsif current_user.role == "Front-end Developer" %>
  <section class="dark:bg-gray-800 dark:text-gray-100">
    <div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
      <h2 class="text-2xl font-semibold sm:text-4xl">Skills that are needed for <%= current_user.role %></h2>
      <p class="mt-4 mb-8 dark:text-gray-400">Here are the skills needed to reach a certain level</p>
      <div class="space-y-4">
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior beginner</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior advanced</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Junior Upper</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">Middle beginner</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400">...</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 dark:text-gray-400">...</p>
        </details>
      </div>
    </div>
  </section>
<% end %>